__pycache__/
tests/
*.py[cod]
*.egg-info/
*.eggs/
*.log
*.sqlite3
*.db
.DS_Store
.env
.env.*
.venv/
venv/
build/
dist/
.coverage
.pytest_cache/
.mypy_cache/
.ipynb_checkpoints/
node_modules/
.parcel-cache/
dash_components/build/
dash_components/dist/
